.how-to__outer {
  position: relative;
	display: flex;
  flex-direction: column;
  line-height: 1.3em;
}

.how-to {
	color: black;
	background-color: white;
	z-index: 999;
	text-align: left;
  margin: 0 20px;
	margin-bottom: 80px;
	z-index: 1;
}

.how-to h1 {
	font-size: 1.5rem;
	text-decoration: underline;
	color: rgb(8, 8, 8);
	padding: 0 10px 10px 10px;
	text-align: center;
	margin: 100px 0 10px 0;
}

.how-to p {
	font-size: 2rem;
	margin-left: 50px;
}

.how-to ol {
	margin: 0 auto;
	font-size: 1.1rem;
	line-height: 1.5;
}

#left {
	line-height: 25px;
	margin-bottom: 30px;
	font-size: 1.2rem;
	font-family: 'Asap', sans-serif;
}

.how-to__outer > footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  z-index: 2;
}

@media screen and (min-width: 768px) {
	.how-to h1 {
		font-size: 2.5em;
	}

	.how-to ol {
		max-width: 600px;
	}

	.how-to p {
		margin-left: 5px;
		font-size: 1.7rem;
	}
	#left {
		margin: 0;
	}
	/* .how-to ol ul {
		margin-left: 60px;
		font-size: 1.1rem;
	} */
}
