#login-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.welcome{
    font-size: 42px;
    padding: 20px;
    padding-left: 0;
}
.header-form-container{
    text-align: left;
    border: none;
    position: absolute;
    left: 8%;
    padding: 30px;
    margin-top: 20px;
    padding-bottom: 0;
}
.user-input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: thin;
    width: 450px;
    padding: 10px;
    padding-left: 0;
}
.user-input:focus {
    outline: none;
  }
.login-input-label{
    text-align: left;
    margin-top: 10px;
}
.title{
    padding-top: 50px;
}
