.banner__outer {
  height: 100%;
}

.banner {
	margin-top: 0;
	background: url('https://images.unsplash.com/photo-1487552292919-eccbbd948cba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjc1MjQyfQ&auto=format&fit=crop&w=3294&q=80')
		no-repeat fixed;
	/* background-size: 2250px 1500px; */
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10px;
	color: white;
	overflow: hidden;
}

.Overlay {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.banner h2 {
	font-size: 7rem;
	margin: 20px;
	padding: 0;
}

.banner p {
	font-size: 2rem;
	margin: 10px;
	padding: 0;
}

.banner button {
	width: 200px;
	height: 75px;
	background-color: rgb(95, 148, 128);
	font-size: 1.2rem;
	font-weight: 600;
	border-radius: 2px;
	transition: all 0.9s;
	border: none;
	margin-top: 40px;
}

.banner button:hover {
	cursor: pointer;
	background-color: rgb(255, 121, 121);
	color: white;
}

/* FOOTER */

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
	padding: 16px 16px 24px;
	color: white;
  text-align: center;
}

@media screen and (max-width: 768px) {
	.banner {
		background: url('https://images.unsplash.com/photo-1487552292919-eccbbd948cba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjc1MjQyfQ&auto=format&fit=crop&w=3294&q=80')
			no-repeat center center fixed;
		background-size: cover;
	}

	.Overlay {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.banner h2 {
		font-size: 3.3rem;
		margin: 16px;
	}

	.banner p {
		font-size: 1.2rem;
		margin: 16px 48px;
	}

	.banner button {
		width: 175px;
		height: 60px;
		margin: 36px auto;
	}
}
