:root {
	--main-bg-one: #45274a;
	--main-bg-two: #fdb06a;
	--main-highlight-one: #e75a50;
	--main-highlight-two: #847a59;
	--select-bg: var(--main-highlight-one);
	--select-border: #777;
	--select-focus: var(--main-highlight-two);
	--select-arrow: var(--select-border);
}

#root {
	height: 100%;
}

.App {
	width: 100%;
	height: 100%;
}

input {
	background: none;
	border: none;
	border-radius: 0;
	letter-spacing: normal;
	padding: 4px 8px;
	color: var(--main-bg-one);
	background-color: var(--select-bg);
	outline: none;
	text-align: right;
}

input:focus {
	outline: 1px solid var(--main-bg-two);
}

button {
	appearance: button;
	border: none;
	border-radius: 0;
	text-decoration: none;
	letter-spacing: normal;
	cursor: pointer;
	padding: 10px 20px;
	font-weight: 600;
	font-size: 13px;
	border: 1px solid var(--main-highlight-one);
	color: var(--main-highlight-one);
	background-color: transparent;
}

button:hover {
	color: var(--main-bg-one);
	background-color: var(--main-highlight-one);
}

label {
	display: block;
	font-size: 12px;
	margin: 0 0 4px 0;
	font-weight: normal;
	text-transform: uppercase;
}

select:focus {
	border-radius: none;
}

.select__wrapper {
	position: absolute;
	display: flex;
	align-items: center;
	right: 0;
	text-align-last: right;
}

.select__wrapper::after {
	position: absolute;
	right: 8px;
	content: '';
	width: 0.8em;
	height: 0.5em;
	background-color: var(--main-bg-one);
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
	pointer-events: none;
}

.editor__container {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	height: 100%;
	flex-grow: 1;
	color: var(--main-highlight-one);
	font-weight: 500;
}

.editor__controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: var(--main-bg-one);
}

.editor__title-label {
  margin: 0;
  font-weight: 400;
}

.editor__form--title input {
  margin-bottom: 40px;
  background: transparent;
  border-bottom: 1px solid var(--main-highlight-one);
  width: 100%;
  color: var(--main-highlight-one);
  text-align: left;
  font-size: 20px;
  padding-left: 0;
}

.editor__form--controls {
	width: 100%;
	padding: 40px;
}

.editor__form--controls-inner {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.editor__form--controls label {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--main-highlight-one);
	color: var(--main-bg-one);
	padding: 8px;
}

.editor__form--controls label > .label__title {
	margin: 4px 0;
	font-weight: 600;
}

.editor__form--controls label > .input__num {
	position: absolute;
	right: 0;
	width: 60px;
	height: 100%;
}

.editor__form--select {
	appearance: none;
	background-color: transparent;
	border: none;
	border-radius: 0;
	padding: 4px 24px 4px 0;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
	outline: none;
	font-weight: 500;
	color: var(--main-bg-one);
	background-color: var(--select-bg);
	text-align-last: right;
}

.editor__form--select option {
	direction: rtl;
}

.editor__form--buttons {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
  width: 100%;
}

.editor__form--controls .form__button {
	display: flex;
  width: 100%;
  margin-top: 4px;
	justify-content: center;
}

.editor__preview {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
  /* background-color: var(--main-bg-two); */
  /* background-color: #d752a8; */
}

/* @media (prefers-reduced-motion: no-preference) {
  .animation__obj {
    animation: object-spin infinite 20s linear;
  }
} */

@keyframes object-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media screen and (min-width: 820px) {
	.editor__container {
		flex-direction: row;
	}

	.editor__controls {
		width: 40%;
	}

	.editor__form--controls {
		width: 100%;
	}

	.editor__preview {
		width: 60%;
	}
}

@media screen and (min-width: 1280px) {
	.editor__form--controls-inner {
		display: inline-grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 4px;
	}
}
