.App {
  display: flex;
  flex-direction: row;
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
	text-align: center;
  border: 1px solid black;
  flex-grow: 1;
}

.controls {
  width: 50%;
  height: 400px;
}

.preview {
  width: 50%;
  height: 400px;
  border: 1px solid black;
}

.animation__obj {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.svg__obj {
  width: auto;
  height: 60px;
}


/* @media (prefers-reduced-motion: no-preference) {
  .animation__obj {
    animation: object-spin infinite 20s linear;
  }
} */

@keyframes object-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
