.Header {
  height: 30px;
  display: flex;
  align-items: normal;
  justify-content: space-between;
}

.Header h1 {
  margin: 0;
  font-size: 22px;
}
a{
  padding-left: 15px;
}

.Header a {
  color: #444;
  text-decoration: none;
}

.header__container{
  display: flex;
  width: 360px;
}
.Header__not-logged-in {
  float: left;
}
.Home__not-logged-in{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.Home__not-logged-in a{
  background: rgb(95, 148, 128);
  color: rgb(34, 30, 30);
  padding: 8px 15px;
  border-radius: 15px;
  margin-left: 15px;
}
 a:hover{
    border: 1px solid rgba(0, 0, 0, 0.25);
  /* background-color: #83ce85;
  color: white; */
}
.Header__logged-in a {
  background-color: #b96f7f;
  color: white;
 
  padding: 5px 15px;
  border-radius: 15px;
}

@media screen and (min-width: 450px) {
  .Header {
    justify-items: right;
  }
.header__container{
  width: 500px;
}
.Home__not-logged-in a{
  padding: 2px 10px;
  border-radius: 9px;
  margin-left: 5px;
}
  .Header h1 {
    font-size: 18pt;
  }
}

