.dashboard__container {
  display: flex;
  flex-direction: column;
	color: var(--main-highlight-one);
  font-weight: 500;
  z-index: 1;
	height: 300px;
	width: 85%;
	margin: 0 auto 20px;
	border: 1px solid var(--main-highlight-one);
	text-align: center;
}

.dashboard__container:hover {
  border: 1px solid white;
}

.dashboard__preview{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 10px;
  perspective: 500px;
}

.dashboard__container button {
	appearance: button;
	outline: none;
	border: none;
	border-radius: 0;
	text-decoration: none;
	letter-spacing: normal;
	cursor: pointer;
	padding: 10px;
	font-size: 13px;
	font-weight: bolder;
	border: 1px solid var(--main-highlight-one);
	color: var(--main-highlight-one);
	background-color: transparent;
}

.dashboard__controls {
	display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
	background-color: var(--main-bg-one);
	justify-content: space-around;
}

.dashboard__animation--target {
  position: relative;
	display: flex;
	flex-direction: row;
	width: 150px;
  height: auto;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
}

.dashboard__animation--target svg {
	width: auto;
	height: auto;
}

@keyframes target-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (hover: hover) {
	button:hover {
		color: var(--main-bg-one);
		background-color: var(--main-highlight-one);
	}

	.dashboard__preview button:hover {
		background-color: var(--main-bg-one);
		color: var(--main-highlight-one);
		border: 1px solid var(--main-highlight-one);
	}
}

@media screen and (min-width: 820px) {
	button {
		font-size: 15px;
	}

	.dashboard__container {
		height: 300px;
		width: 450px;
	}

	.dashboard__controls {
    align-items: center;
		width: 100%;
		text-align: center;
	}

	.dashboard__form {
		padding: 40px;
	}

	.dashboard__form--title input {
		margin-bottom: 20px;
	}

	.dashboard__form--inner label {
		padding: 8px;
	}

	.dashboard__preview {
		width: 100%;
		height: 100%;
  }

	.dashboard__preview--controls {
		position: absolute;
		display: flex;
		top: 0;
		bottom: unset;
		right: 0;
		left: unset;
		margin: 0;
		grid-template-columns: 1fr 1fr 1fr;
		width: 100%;
    margin: 0;
    justify-content: flex-end;
	}

	.dashboard__preview button {
		background-color: unset;
	}

	.dashboard__preview--controls-one {
		display: inline-flex;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 8px;
		margin: 40px;
  }
  
  .dashboard__preview--controls-two {
    top: 0;
    left: 0;
    bottom: unset;
  }
  
	.dashboard__preview div.icon {
		margin: 40px;
	}

	.dashboard__animation--target svg {
		width: unset;
		height: unset;
	}
}
