:root {
	--main-bg-one: #45274a;
	--main-bg-two: #fdb06a;
	--main-highlight-one: #e75a50;
	--main-highlight-two: #847a59;
	--main-bg-hover: rgba(69, 39, 74, 0.85);
	--select-bg: var(--main-highlight-one);
	--select-border: #777;
	--select-focus: var(--main-highlight-two);
	--select-arrow: var(--select-border);
}

.editor__container {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	height: 100%;
	flex-grow: 1;
	color: var(--main-highlight-one);
  font-weight: 500;
  z-index: 1;
}

.editor__container input {
	background: none;
	border: none;
	border-radius: 0;
	letter-spacing: normal;
	padding: 4px 8px;
	color: var(--main-bg-one);
	background-color: var(--select-bg);
	outline: none;
	text-align: right;
}

.editor__container input:focus {
	outline: 1px solid var(--main-bg-two);
}

.editor__container button {
	appearance: button;
	outline: none;
	border: none;
	border-radius: 0;
	text-decoration: none;
	letter-spacing: normal;
	cursor: pointer;
	padding: 10px;
	font-size: 13px;
	font-weight: bolder;
	border: 1px solid var(--main-highlight-one);
	color: var(--main-highlight-one);
	background-color: transparent;
}

.editor__container label {
	display: block;
	font-size: 12px;
	margin: 0 0 4px 0;
	font-weight: normal;
	text-transform: uppercase;
}

.editor__container select:focus {
	border-radius: none;
}

.select__wrapper {
	position: absolute;
	display: flex;
	align-items: center;
	right: 0;
	text-align-last: right;
}

.select__wrapper::after {
	position: absolute;
	right: 8px;
	content: '';
	width: 0.8em;
	height: 0.5em;
	background-color: var(--main-bg-one);
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
	pointer-events: none;
}

.editor__controls {
	display: flex;
	flex-direction: row;
  flex-grow: 1;
  align-items: flex-end;
	width: 100%;
	background-color: var(--main-bg-one);
}

.editor__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 12px 30px 24px;
}

.editor__form--title label {
	margin: 0;
  font-weight: 400;
  background-color: transparent;
  color: var(--main-highlight-one);
  padding: 0;
  text-align: left;
}

.editor__form--title input {
	margin-bottom: 20px;
	background: transparent;
	border-bottom: 1px solid var(--main-highlight-one);
	width: 100%;
	color: var(--main-highlight-one);
	text-align: left;
	font-size: 20px;
	padding-left: 0;
}

.editor__form--inner {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.editor__form--inner label {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--main-highlight-one);
	color: var(--main-bg-one);
	padding: 4px 8px;
}

.editor__form--inner .label__title {
	margin: 4px 0;
	font-weight: 600;
}

.editor__form--inner .input__num {
	position: absolute;
	right: 0;
	max-width: 100px;
	height: 100%;
}

.editor__form--select {
  appearance: none;
  direction: rtl;
	background-color: transparent;
	border: none;
	border-radius: 0;
	padding: 4px 24px 4px 0;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
	outline: none;
	font-weight: 500;
	color: var(--main-bg-one);
	background-color: var(--select-bg);
	text-align-last: right;
}

.editor__form--select option {
	direction: rtl;
}

.editor__form--buttons {
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4px;
	width: 100%;
}

.editor__preview {
	position: relative;
	display: flex;
	flex-grow: 2;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.editor__preview--controls {
	position: absolute;
	display: inline-grid;
	grid-gap: 8px;
	bottom: -60px;
	right: 0;
	left: 0;
	margin: 0 30px;
}

.editor__preview--controls-one {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 8px;
}

.editor__preview--controls-one button {
	background-color: var(--main-bg-two);
	border: 1px solid var(--main-bg-one);
	color: var(--main-bg-one);
}

.editor__preview--controls-two {
	position: absolute;
	display: inline-flex;
	flex-direction: row;
  justify-content: center;
  bottom: 0;
}

.editor__preview--controls-two .icon {
	margin: 0 40px;
	padding: 6px 10px;
	border: 1px solid transparent;
}

.editor__preview--controls-two .icon:hover {
	border: 1px solid var(--main-bg-one);
	cursor: pointer;
}

.animation__target {
	display: flex;
	flex-direction: row;
	width: 6em;
	height: auto;
}

.animation__target svg {
	width: auto;
	height: auto;
}

/* @media (prefers-reduced-motion: no-preference) {
  .animation__target {
    animation: target-spin infinite 20s linear;
  }
} */

/* @keyframes target-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

/* @keyframes target-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
} */

/* @keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
} */


@media (hover: hover) {
	button:hover {
		color: var(--main-bg-one);
		background-color: var(--main-highlight-one);
	}

	.editor__preview button:hover {
		background-color: var(--main-bg-one);
		color: var(--main-highlight-one);
		border: 1px solid var(--main-highlight-one);
	}
}

@media screen and (min-width: 360px) {
	.animation__target {
		width: 10em;
	}
}

@media screen and (min-width: 820px) {
	button {
		font-size: 15px;
	}

	.editor__container {
		flex-direction: row;
	}

	.editor__controls {
    align-items: center;
		width: 40%;
	}

	.editor__form {
		padding: 40px;
	}

	.editor__form--title input {
		margin-bottom: 20px;
	}

	.editor__form--inner label {
		padding: 8px;
	}

	.editor__preview {
		width: 60%;
  }

	.editor__preview--controls {
		position: absolute;
		display: flex;
		top: 0;
		bottom: unset;
		right: 0;
		left: unset;
		margin: 0;
		grid-template-columns: 1fr 1fr 1fr;
		width: 100%;
    margin: 0;
    justify-content: flex-end;
	}

	.editor__preview button {
		background-color: unset;
	}

	.editor__preview--controls-one {
		display: inline-flex;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 8px;
		margin: 40px;
  }
  
  .editor__preview--controls-two {
    top: 0;
    left: 0;
    bottom: unset;
  }
  
	.editor__preview div.icon {
		margin: 40px;
	}

	.animation__target {
		width: unset;
		height: unset;
	}

	.animation__target svg {
		width: unset;
		height: unset;
	}
}

@media screen and (min-width: 1280px) {
	.editor__form--inner {
		display: inline-grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 4px;
	}
}
