#root {
	height: 100%;
}

.App {
	display: flex;
	flex-direction: column;
	text-align: center;
	min-width: 320px;
	width: 100%;
	height: 100%;
}

section {
	position: relative;
	justify-content: center;
	align-content: center;
	vertical-align: auto;
}

.main__container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
