@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
/* 
@keyframes shadow-drop-lr {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }2
  100% {
    box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-tl {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: -12px -12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-left {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-bl {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-br {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-right {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 12px 0 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-tr {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 12px -12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-top {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-tb {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
} */

