.custom-button {
    position: relative;
    border: none;
    padding: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    color: white;
  }
  .custom-button:focus {
    outline: none;
  }
  /* .custom-button::after {
    content: "";
    background: rgb(214, 214, 214);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
  }
  .custom-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  } */